jenkins:
  systemMessage: "Jenkins fully automated"

  numExecutors: 2

  securityRealm:
    local:
      allowsSignup: false
      users:
        - id: admin
          password: admin123

  authorizationStrategy:
    loggedInUsersCanDoAnything:
      allowAnonymousRead: false

  # Disable CLI over remoting (security best practice)
  remotingSecurity:
    enabled: true

credentials:
  system:
    domainCredentials:
      - credentials:

          - usernamePassword:
              scope: GLOBAL
              id: docker-hub-creds
              username: "${DOCKERHUB_USER}"
              password: "${DOCKERHUB_PASS}"
              description: "Docker Hub login"

unclassified:
  location:
    url: "${JENKINS_URL}"

# THIS loads the pipeline automatically
jobs:
  - file: /var/lib/jenkins/job.groovy
