jenkins:
  systemMessage: "Jenkins fully automated"
  numExecutors: 2

  securityRealm:
    local:
      allowsSignup: false
      users:
        - id: admin
          name: Administrator
          password: admin123

  authorizationStrategy:
    loggedInUsersCanDoAnything:
      allowAnonymousRead: false

  remotingSecurity:
    enabled: true

  crumbIssuer:
    standard:
      excludeClientIPFromCrumb: true

unclassified:
  location:
    url: "${JENKINS_URL}"

credentials:
  system:
    domainCredentials:
      - credentials:
          - usernamePassword:
              scope: GLOBAL
              id: docker-hub-creds
              username: "${DOCKERHUB_USER}"
              password: "${DOCKERHUB_PASS}"
              description: Docker Hub login

jobs:
  - file: /var/lib/jenkins/job.groovy